$color-primary: #222222;
$color-secondary: #2d2d2d;
$color-tertiary: #191919;

$color-primary-accent: #292929;
$color-secondary-accent: #363636;

$text-color: #b0b0b0;
$text-offwhite: #7a7a7a;
$text-hightlight: #e0e0e0;